<h1> Landmark </h1>

<p> Name: <%= @landmark.name %> </p>
<p> Year Completed: <%= @landmark.year_completed %> </p>

<a href="/landmarks/<%=@landmark.id%>/edit" >Edit </a>
<a href="/landmarks/<%=@landmark.id%>/delete" > Delete </a>
